---
import { Image } from "@astrojs/image/components";

import Section from "./Section.astro";
---

<Section title="About">
  <div class="sm:flex sm:gap-8">
    <Image
      class="stagger m-auto my-7 h-52 w-52 rounded"
      src={import("@lib/assets/tony-dang-400px.jpg")}
      alt="Photo of Tony typing on a MacBook Pro."
    />
    <div class="stagger">
      <p>
        Hi! My name is Tony Dang. I am a web developer, rock climber, and
        calisthenics practitioner.
      </p>
      <p>
        This blog is a space for me to experiement with various web technologies
        as well as share useful things I create and learn.
      </p>
    </div>
  </div>
</Section>
