---
import Section from "./Section.astro";
import SocialIcons from "./SocialIcons.astro";
---

<Section title="Contact">
  <div class="sm:flex">
    <div class="stagger text-center">
      <p>
        If you'd like to contact me, please feel free to shoot me an email at
        <a href="mailto:tony@tonydang.blog">tony@tonydang.blog</a> or
        <a href="/unoffice-hours">book a call</a>.
      </p>
    </div>

    <SocialIcons />
  </div>
</Section>
