---
import Section from "./Section.astro";
import SocialIcons from "./SocialIcons.astro";
---

<Section title="Contact">
  <div class="sm:flex">
    <div class="stagger text-center">
      <p>
        If you have any feedback, questions, or just want to say hi, please
        don't hesitate to get in touch!
      </p>
      <a href="mailto:tony@tonydang.blog">tony@tonydang.blog</a>
    </div>

    <SocialIcons />
  </div>
</Section>
