---
import Particles from "./Particles.astro";
import Typewriter from "./Typewriter.svelte";
---

<section
  class="flex h-[calc(100vh-16px-36px-40px)] min-h-[720px] flex-col justify-center sm:flex-row sm:items-center"
>
  <div class="xxs:w-[340px] mx-auto aspect-square sm:order-2">
    <Particles />
  </div>
  <div class="ml-5 mt-10 sm:order-1 sm:m-0 sm:w-1/2">
    <h1 class="text-5xl">
      <span class="text-accent">Tony</span> Dang
    </h1>
    <Typewriter
      strings={["web developer", "rock climber", "calisthenics practitioner"]}
      client:idle
    />
  </div>
</section>
