---
import Icon from "./Icon.astro";

const urls = [
  "github.com/thisistonydang",
  "instagram.com/thisistonydang",
  "linkedin.com/in/thisistonydang",
  "mastodon.social/@tonydang",
  "twitter.com/thisistonydang",
  /* "facebook.com/thisistonydang", */
];
---

<div class="m-12 flex justify-center">
  {
    urls.map((url) => {
      const name = (url.match(/^[^.]+/) as string[])[0] as string;

      return (
        <a href={"https://" + url} aria-label={name} class="stagger">
          <Icon name={name} width="40" height="40" />
        </a>
      );
    })
  }
</div>
