---
import DevDashboard from "./DevDashboard.astro";
import Header from "./Header.astro";
---

<div
  class="xs:w-[calc(100vw-15px)] pointer-events-none fixed top-0 z-40 w-screen px-4 pt-4 sm:pl-8"
>
  <Header />
  <DevDashboard />
</div>
