---
import DarkModeToggle from "./DarkModeToggle.svelte";
import SiteNav from "./SiteNav.svelte";
---

<header class="text-heading relative mb-10 flex items-center">
  <a class="pointer-events-auto text-3xl" href="/" rel="prefetch"> Td</a>
  <SiteNav current_path={Astro.url.pathname} />
  <DarkModeToggle client:load />
</header>
