---
import type { CollectionEntry } from "astro:content";
import PageLayout from "@layouts/page/PageLayout.astro";

export interface Props {
  entry: CollectionEntry<"posts">;
}

const { entry } = Astro.props;

const formatted_date = new Intl.DateTimeFormat(undefined, {
  dateStyle: "long",
}).format(entry.data.pubDate);
---

<PageLayout entry={entry}>
  <div class="mb-12 text-sm">
    <a class="no-underline" href="/posts">&larr; Back to all posts</a>
  </div>

  <article>
    <header class="mb-12">
      <h1>{entry.data.title}</h1>
      <p>{entry.data.description}</p>
      <hr class="my-2" />
      <div class="text-sm">
        by <a href="/">Tony Dang</a> on
        <time datetime={entry.data.pubDate.toISOString().split("T")[0]}>
          {formatted_date}
        </time>
      </div>
    </header>
    <slot />
  </article>

  <footer class="mt-12 text-sm">
    <a class="no-underline" href="/posts">&larr; Back to all posts</a>
    &nbsp;/&nbsp;
    <a class="no-underline" href="#root">&uarr; Scroll to top</a>
  </footer>
</PageLayout>
