{
  "printWidth": 100,
  "plugins": [
    "prettier-plugin-glsl",
    "prettier-plugin-astro",
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "astroAllowShorthand": true,
  "overrides": [
    {
      "files": "*.astro",
      "options": { "parser": "astro" }
    }
  ]
}
