---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/base/BaseLayout.astro";
import Footer from "./_components/Footer.svelte";
import Header from "./_components/Header.astro";
import OnlineStatus from "./_components/OnlineStatus.svelte";
import SkipToMain from "./_components/SkipToMain.astro";

export interface Props {
  entry: CollectionEntry<"pages"> | CollectionEntry<"posts">;
}

const { entry } = Astro.props;
---

<BaseLayout entry={entry}>
  <OnlineStatus client:load />
  <SkipToMain />
  <Header />
  <div
    class="prose dark:prose-invert prose-a:text-accent prose-a:underline-offset-4 hover:prose-a:no-underline prose-headings:font-normal m-auto max-w-[700px]"
  >
    <main id="main-content">
      <slot />
    </main>
    <Footer client:visible />
  </div>
</BaseLayout>
