<div>
  <div
    id="ShoesLeadDark"
    class="plotly-graph-div"
    style="height:450px; width:100%;"
  >
  </div>
  <script>
    import Plotly from "plotly.js-dist-min";
    window.PLOTLYENV = window.PLOTLYENV || {};
    if (document.getElementById("ShoesLeadDark")) {
      Plotly.newPlot(
        "ShoesLeadDark",
        [
          {
            branchvalues: "total",
            customdata: [
              ["Ryu Nakagawa", "La Sportiva", "Theory", "La Sportiva"],
              ["Rei Kawamata", "Scarpa", "Instinct VSR", "Scarpa"],
              ["Chaehyun Seo", "La Sportiva", "Solution Comp", "La Sportiva"],
              ["Laura Rogora", "Wild Climb", "Pantera", "Wild Climb"],
              [
                "Yoshiyuki Ogata",
                "Five Ten",
                "Hiangle<sup>[2]</sup>",
                "Five Ten",
              ],
              [
                "Yannick Floh\u00e9",
                "Five Ten",
                "Hiangle<sup>[2]</sup>",
                "Five Ten",
              ],
              ["Hannah Meul", "Scarpa", "Drago", "Scarpa"],
              [
                "Hamish Mcarthur",
                "La Sportiva",
                "Solution Comp",
                "La Sportiva",
              ],
              [
                "Natalia Grossman",
                "Five Ten",
                "Hiangle<sup>[2]</sup>",
                "Five Ten",
              ],
              ["Kokoro Fujii", "Five Ten", "Hiangle<sup>[2]</sup>", "Five Ten"],
              ["Colin Duffy", "Evolv", "Shaman", "Evolv"],
              ["Tomoa Narasaki", "UnParallel", "Flagship", "UnParallel"],
              ["Raviandi Ramadhan", "Butora", "Acro Comp", "Butora"],
              ["Mia Krampl<sup>[3]</sup>", "Scarpa", "Drago", "Scarpa"],
              ["Satone Yoshida", "Scarpa", "Chimera", "Scarpa"],
              ["Taisei Homma", "Scarpa", "Instinct VS", "Scarpa"],
              [
                "Mejdi Schalck",
                "Five Ten",
                "Hiangle<sup>[2]</sup>",
                "Five Ten",
              ],
              ["Masahiro Higuchi", "La Sportiva", "Futura", "La Sportiva"],
              ["Paul Jenft", "EB", "Unknown<sup>[4]</sup>", "EB"],
              ["Adam Ondra", "La Sportiva", "Solution Comp", "La Sportiva"],
              ["Jesse Grupper", "Mad Rock", "Drone", "Mad Rock"],
              ["Ai Mori", "La Sportiva", "Futura", "La Sportiva"],
              [
                "Alberto Gin\u00e9s L\u00f3pez",
                "La Sportiva",
                "Theory",
                "La Sportiva",
              ],
              ["Alexander Megos", "Tenaya", "Iati", "Tenaya"],
              ["Ao Yurikusa", "Five Ten", "Hiangle<sup>[2]</sup>", "Five Ten"],
              ["Luka Potocar", "Scarpa", "Drago", "Scarpa"],
              [
                "Janja Garnbret",
                "Five Ten",
                "Hiangle<sup>[2]</sup>",
                "Five Ten",
              ],
              ["H\u00e9l\u00e8ne Janicot", "EB", "Guardian 3.0", "EB"],
              ["Hidemasa Nishida", "La Sportiva", "Futura", "La Sportiva"],
              ["Sascha Lehmann", "La Sportiva", "Solution", "La Sportiva"],
              ["Miho Nonaka", "Five Ten", "Hiangle<sup>[2]</sup>", "Five Ten"],
              ["Toby Roberts", "Five Ten", "Hiangle<sup>[2]</sup>", "Five Ten"],
              ["Jakob Schubert", "La Sportiva", "Solution", "La Sportiva"],
              ["Stefan Scherz", "La Sportiva", "Skwama", "La Sportiva"],
              ["Sebastian Halenke", "Scarpa", "Instinct VSR", "Scarpa"],
              ["Sean Bailey", "Scarpa", "Drago", "Scarpa"],
              ["Futaba Ito", "La Sportiva", "Solution Comp", "La Sportiva"],
              ["Sam Avezou", "Mad Rock", "Drone", "Mad Rock"],
              ["Dohyun Lee", "La Sportiva", "Solution Comp", "La Sportiva"],
              ["Natsuki Tanii", "La Sportiva", "Solution Comp", "La Sportiva"],
              ["Manon Hily", "UnParallel", "Flagship", "UnParallel"],
              ["Brooke Raboutou", "La Sportiva", "Solution", "La Sportiva"],
              ["Jessica Pilz", "Scarpa", "Drago", "Scarpa"],
              ["Filip Schenk", "Scarpa", "Drago", "Scarpa"],
              ["Vita Lukan", "Scarpa", "Drago", "Scarpa"],
              [
                "Eliska Adamovska",
                "La Sportiva",
                "Solution Comp",
                "La Sportiva",
              ],
              ["", "Butora", "Acro Comp", "Butora"],
              ["", "Scarpa", "Chimera", "Scarpa"],
              ["", "Scarpa", "Drago", "Scarpa"],
              ["", "Mad Rock", "Drone", "Mad Rock"],
              ["", "UnParallel", "Flagship", "UnParallel"],
              ["", "La Sportiva", "Futura", "La Sportiva"],
              ["", "EB", "Guardian 3.0", "EB"],
              ["", "Five Ten", "Hiangle<sup>[2]</sup>", "Five Ten"],
              ["", "Tenaya", "Iati", "Tenaya"],
              ["", "Scarpa", "Instinct VS", "Scarpa"],
              ["", "Scarpa", "Instinct VSR", "Scarpa"],
              ["", "Wild Climb", "Pantera", "Wild Climb"],
              ["", "Evolv", "Shaman", "Evolv"],
              ["", "La Sportiva", "Skwama", "La Sportiva"],
              ["", "La Sportiva", "Solution", "La Sportiva"],
              ["", "La Sportiva", "Solution Comp", "La Sportiva"],
              ["", "La Sportiva", "Theory", "La Sportiva"],
              ["", "EB", "Unknown<sup>[4]</sup>", "EB"],
              ["", "Butora", "", "Butora"],
              ["", "EB", "", "EB"],
              ["", "Evolv", "", "Evolv"],
              ["", "Five Ten", "", "Five Ten"],
              ["", "La Sportiva", "", "La Sportiva"],
              ["", "Mad Rock", "", "Mad Rock"],
              ["", "Scarpa", "", "Scarpa"],
              ["", "Tenaya", "", "Tenaya"],
              ["", "UnParallel", "", "UnParallel"],
              ["", "Wild Climb", "", "Wild Climb"],
              ["", "All", "", "All"],
            ],
            domain: { x: [0.0, 1.0], y: [0.0, 1.0] },
            hovertemplate:
              "%{customdata[0]}<br>%{customdata[3]} %{customdata[2]}<br>Count: %{value}",
            ids: [
              "All<sup>[1]</sup>/La Sportiva/Theory/Ryu Nakagawa",
              "All<sup>[1]</sup>/Scarpa/Instinct VSR/Rei Kawamata",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp/Chaehyun Seo",
              "All<sup>[1]</sup>/Wild Climb/Pantera/Laura Rogora",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>/Yoshiyuki Ogata",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>/Yannick Floh\u00e9",
              "All<sup>[1]</sup>/Scarpa/Drago/Hannah Meul",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp/Hamish Mcarthur",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>/Natalia Grossman",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>/Kokoro Fujii",
              "All<sup>[1]</sup>/Evolv/Shaman/Colin Duffy",
              "All<sup>[1]</sup>/UnParallel/Flagship/Tomoa Narasaki",
              "All<sup>[1]</sup>/Butora/Acro Comp/Raviandi Ramadhan",
              "All<sup>[1]</sup>/Scarpa/Drago/Mia Krampl<sup>[3]</sup>",
              "All<sup>[1]</sup>/Scarpa/Chimera/Satone Yoshida",
              "All<sup>[1]</sup>/Scarpa/Instinct VS/Taisei Homma",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>/Mejdi Schalck",
              "All<sup>[1]</sup>/La Sportiva/Futura/Masahiro Higuchi",
              "All<sup>[1]</sup>/EB/Unknown<sup>[4]</sup>/Paul Jenft",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp/Adam Ondra",
              "All<sup>[1]</sup>/Mad Rock/Drone/Jesse Grupper",
              "All<sup>[1]</sup>/La Sportiva/Futura/Ai Mori",
              "All<sup>[1]</sup>/La Sportiva/Theory/Alberto Gin\u00e9s L\u00f3pez",
              "All<sup>[1]</sup>/Tenaya/Iati/Alexander Megos",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>/Ao Yurikusa",
              "All<sup>[1]</sup>/Scarpa/Drago/Luka Potocar",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>/Janja Garnbret",
              "All<sup>[1]</sup>/EB/Guardian 3.0/H\u00e9l\u00e8ne Janicot",
              "All<sup>[1]</sup>/La Sportiva/Futura/Hidemasa Nishida",
              "All<sup>[1]</sup>/La Sportiva/Solution/Sascha Lehmann",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>/Miho Nonaka",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>/Toby Roberts",
              "All<sup>[1]</sup>/La Sportiva/Solution/Jakob Schubert",
              "All<sup>[1]</sup>/La Sportiva/Skwama/Stefan Scherz",
              "All<sup>[1]</sup>/Scarpa/Instinct VSR/Sebastian Halenke",
              "All<sup>[1]</sup>/Scarpa/Drago/Sean Bailey",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp/Futaba Ito",
              "All<sup>[1]</sup>/Mad Rock/Drone/Sam Avezou",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp/Dohyun Lee",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp/Natsuki Tanii",
              "All<sup>[1]</sup>/UnParallel/Flagship/Manon Hily",
              "All<sup>[1]</sup>/La Sportiva/Solution/Brooke Raboutou",
              "All<sup>[1]</sup>/Scarpa/Drago/Jessica Pilz",
              "All<sup>[1]</sup>/Scarpa/Drago/Filip Schenk",
              "All<sup>[1]</sup>/Scarpa/Drago/Vita Lukan",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp/Eliska Adamovska",
              "All<sup>[1]</sup>/Butora/Acro Comp",
              "All<sup>[1]</sup>/Scarpa/Chimera",
              "All<sup>[1]</sup>/Scarpa/Drago",
              "All<sup>[1]</sup>/Mad Rock/Drone",
              "All<sup>[1]</sup>/UnParallel/Flagship",
              "All<sup>[1]</sup>/La Sportiva/Futura",
              "All<sup>[1]</sup>/EB/Guardian 3.0",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>",
              "All<sup>[1]</sup>/Tenaya/Iati",
              "All<sup>[1]</sup>/Scarpa/Instinct VS",
              "All<sup>[1]</sup>/Scarpa/Instinct VSR",
              "All<sup>[1]</sup>/Wild Climb/Pantera",
              "All<sup>[1]</sup>/Evolv/Shaman",
              "All<sup>[1]</sup>/La Sportiva/Skwama",
              "All<sup>[1]</sup>/La Sportiva/Solution",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp",
              "All<sup>[1]</sup>/La Sportiva/Theory",
              "All<sup>[1]</sup>/EB/Unknown<sup>[4]</sup>",
              "All<sup>[1]</sup>/Butora",
              "All<sup>[1]</sup>/EB",
              "All<sup>[1]</sup>/Evolv",
              "All<sup>[1]</sup>/Five Ten",
              "All<sup>[1]</sup>/La Sportiva",
              "All<sup>[1]</sup>/Mad Rock",
              "All<sup>[1]</sup>/Scarpa",
              "All<sup>[1]</sup>/Tenaya",
              "All<sup>[1]</sup>/UnParallel",
              "All<sup>[1]</sup>/Wild Climb",
              "All<sup>[1]</sup>",
            ],
            labels: [
              "Ryu Nakagawa",
              "Rei Kawamata",
              "Chaehyun Seo",
              "Laura Rogora",
              "Yoshiyuki Ogata",
              "Yannick Floh\u00e9",
              "Hannah Meul",
              "Hamish Mcarthur",
              "Natalia Grossman",
              "Kokoro Fujii",
              "Colin Duffy",
              "Tomoa Narasaki",
              "Raviandi Ramadhan",
              "Mia Krampl<sup>[3]</sup>",
              "Satone Yoshida",
              "Taisei Homma",
              "Mejdi Schalck",
              "Masahiro Higuchi",
              "Paul Jenft",
              "Adam Ondra",
              "Jesse Grupper",
              "Ai Mori",
              "Alberto Gin\u00e9s L\u00f3pez",
              "Alexander Megos",
              "Ao Yurikusa",
              "Luka Potocar",
              "Janja Garnbret",
              "H\u00e9l\u00e8ne Janicot",
              "Hidemasa Nishida",
              "Sascha Lehmann",
              "Miho Nonaka",
              "Toby Roberts",
              "Jakob Schubert",
              "Stefan Scherz",
              "Sebastian Halenke",
              "Sean Bailey",
              "Futaba Ito",
              "Sam Avezou",
              "Dohyun Lee",
              "Natsuki Tanii",
              "Manon Hily",
              "Brooke Raboutou",
              "Jessica Pilz",
              "Filip Schenk",
              "Vita Lukan",
              "Eliska Adamovska",
              "Acro Comp",
              "Chimera",
              "Drago",
              "Drone",
              "Flagship",
              "Futura",
              "Guardian 3.0",
              "Hiangle<sup>[2]</sup>",
              "Iati",
              "Instinct VS",
              "Instinct VSR",
              "Pantera",
              "Shaman",
              "Skwama",
              "Solution",
              "Solution Comp",
              "Theory",
              "Unknown<sup>[4]</sup>",
              "Butora",
              "EB",
              "Evolv",
              "Five Ten",
              "La Sportiva",
              "Mad Rock",
              "Scarpa",
              "Tenaya",
              "UnParallel",
              "Wild Climb",
              "All<sup>[1]</sup>",
            ],
            marker: {
              colors: [
                "rgb(246, 207, 113)",
                "rgb(102, 197, 204)",
                "rgb(246, 207, 113)",
                "rgb(179, 179, 179)",
                "rgb(248, 156, 116)",
                "rgb(248, 156, 116)",
                "rgb(102, 197, 204)",
                "rgb(246, 207, 113)",
                "rgb(248, 156, 116)",
                "rgb(248, 156, 116)",
                "rgb(135, 197, 95)",
                "rgb(220, 176, 242)",
                "rgb(139, 224, 164)",
                "rgb(102, 197, 204)",
                "rgb(102, 197, 204)",
                "rgb(102, 197, 204)",
                "rgb(248, 156, 116)",
                "rgb(246, 207, 113)",
                "rgb(158, 185, 243)",
                "rgb(246, 207, 113)",
                "rgb(254, 136, 177)",
                "rgb(246, 207, 113)",
                "rgb(246, 207, 113)",
                "rgb(201, 219, 116)",
                "rgb(248, 156, 116)",
                "rgb(102, 197, 204)",
                "rgb(248, 156, 116)",
                "rgb(158, 185, 243)",
                "rgb(246, 207, 113)",
                "rgb(246, 207, 113)",
                "rgb(248, 156, 116)",
                "rgb(248, 156, 116)",
                "rgb(246, 207, 113)",
                "rgb(246, 207, 113)",
                "rgb(102, 197, 204)",
                "rgb(102, 197, 204)",
                "rgb(246, 207, 113)",
                "rgb(254, 136, 177)",
                "rgb(246, 207, 113)",
                "rgb(246, 207, 113)",
                "rgb(220, 176, 242)",
                "rgb(246, 207, 113)",
                "rgb(102, 197, 204)",
                "rgb(102, 197, 204)",
                "rgb(102, 197, 204)",
                "rgb(246, 207, 113)",
                "rgb(139, 224, 164)",
                "rgb(102, 197, 204)",
                "rgb(102, 197, 204)",
                "rgb(254, 136, 177)",
                "rgb(220, 176, 242)",
                "rgb(246, 207, 113)",
                "rgb(158, 185, 243)",
                "rgb(248, 156, 116)",
                "rgb(201, 219, 116)",
                "rgb(102, 197, 204)",
                "rgb(102, 197, 204)",
                "rgb(179, 179, 179)",
                "rgb(135, 197, 95)",
                "rgb(246, 207, 113)",
                "rgb(246, 207, 113)",
                "rgb(246, 207, 113)",
                "rgb(246, 207, 113)",
                "rgb(158, 185, 243)",
                "rgb(139, 224, 164)",
                "rgb(158, 185, 243)",
                "rgb(135, 197, 95)",
                "rgb(248, 156, 116)",
                "rgb(246, 207, 113)",
                "rgb(254, 136, 177)",
                "rgb(102, 197, 204)",
                "rgb(201, 219, 116)",
                "rgb(220, 176, 242)",
                "rgb(179, 179, 179)",
                "rgba(0, 0, 0, 0)",
              ],
            },
            name: "",
            parents: [
              "All<sup>[1]</sup>/La Sportiva/Theory",
              "All<sup>[1]</sup>/Scarpa/Instinct VSR",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp",
              "All<sup>[1]</sup>/Wild Climb/Pantera",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>",
              "All<sup>[1]</sup>/Scarpa/Drago",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>",
              "All<sup>[1]</sup>/Evolv/Shaman",
              "All<sup>[1]</sup>/UnParallel/Flagship",
              "All<sup>[1]</sup>/Butora/Acro Comp",
              "All<sup>[1]</sup>/Scarpa/Drago",
              "All<sup>[1]</sup>/Scarpa/Chimera",
              "All<sup>[1]</sup>/Scarpa/Instinct VS",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>",
              "All<sup>[1]</sup>/La Sportiva/Futura",
              "All<sup>[1]</sup>/EB/Unknown<sup>[4]</sup>",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp",
              "All<sup>[1]</sup>/Mad Rock/Drone",
              "All<sup>[1]</sup>/La Sportiva/Futura",
              "All<sup>[1]</sup>/La Sportiva/Theory",
              "All<sup>[1]</sup>/Tenaya/Iati",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>",
              "All<sup>[1]</sup>/Scarpa/Drago",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>",
              "All<sup>[1]</sup>/EB/Guardian 3.0",
              "All<sup>[1]</sup>/La Sportiva/Futura",
              "All<sup>[1]</sup>/La Sportiva/Solution",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>",
              "All<sup>[1]</sup>/Five Ten/Hiangle<sup>[2]</sup>",
              "All<sup>[1]</sup>/La Sportiva/Solution",
              "All<sup>[1]</sup>/La Sportiva/Skwama",
              "All<sup>[1]</sup>/Scarpa/Instinct VSR",
              "All<sup>[1]</sup>/Scarpa/Drago",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp",
              "All<sup>[1]</sup>/Mad Rock/Drone",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp",
              "All<sup>[1]</sup>/UnParallel/Flagship",
              "All<sup>[1]</sup>/La Sportiva/Solution",
              "All<sup>[1]</sup>/Scarpa/Drago",
              "All<sup>[1]</sup>/Scarpa/Drago",
              "All<sup>[1]</sup>/Scarpa/Drago",
              "All<sup>[1]</sup>/La Sportiva/Solution Comp",
              "All<sup>[1]</sup>/Butora",
              "All<sup>[1]</sup>/Scarpa",
              "All<sup>[1]</sup>/Scarpa",
              "All<sup>[1]</sup>/Mad Rock",
              "All<sup>[1]</sup>/UnParallel",
              "All<sup>[1]</sup>/La Sportiva",
              "All<sup>[1]</sup>/EB",
              "All<sup>[1]</sup>/Five Ten",
              "All<sup>[1]</sup>/Tenaya",
              "All<sup>[1]</sup>/Scarpa",
              "All<sup>[1]</sup>/Scarpa",
              "All<sup>[1]</sup>/Wild Climb",
              "All<sup>[1]</sup>/Evolv",
              "All<sup>[1]</sup>/La Sportiva",
              "All<sup>[1]</sup>/La Sportiva",
              "All<sup>[1]</sup>/La Sportiva",
              "All<sup>[1]</sup>/La Sportiva",
              "All<sup>[1]</sup>/EB",
              "All<sup>[1]</sup>",
              "All<sup>[1]</sup>",
              "All<sup>[1]</sup>",
              "All<sup>[1]</sup>",
              "All<sup>[1]</sup>",
              "All<sup>[1]</sup>",
              "All<sup>[1]</sup>",
              "All<sup>[1]</sup>",
              "All<sup>[1]</sup>",
              "All<sup>[1]</sup>",
              "",
            ],
            values: [
              1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
              1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
              1, 1, 1, 1, 7, 2, 2, 3, 1, 9, 1, 1, 2, 1, 1, 1, 3, 7, 2, 1, 1, 2,
              1, 9, 16, 2, 11, 1, 2, 1, 46,
            ],
            type: "treemap",
          },
        ],
        {
          template: {
            data: {
              barpolar: [
                {
                  marker: {
                    line: { color: "rgb(17,17,17)", width: 0.5 },
                    pattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                  },
                  type: "barpolar",
                },
              ],
              bar: [
                {
                  error_x: { color: "#f2f5fa" },
                  error_y: { color: "#f2f5fa" },
                  marker: {
                    line: { color: "rgb(17,17,17)", width: 0.5 },
                    pattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                  },
                  type: "bar",
                },
              ],
              carpet: [
                {
                  aaxis: {
                    endlinecolor: "#A2B1C6",
                    gridcolor: "#506784",
                    linecolor: "#506784",
                    minorgridcolor: "#506784",
                    startlinecolor: "#A2B1C6",
                  },
                  baxis: {
                    endlinecolor: "#A2B1C6",
                    gridcolor: "#506784",
                    linecolor: "#506784",
                    minorgridcolor: "#506784",
                    startlinecolor: "#A2B1C6",
                  },
                  type: "carpet",
                },
              ],
              choropleth: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  type: "choropleth",
                },
              ],
              contourcarpet: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  type: "contourcarpet",
                },
              ],
              contour: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                  type: "contour",
                },
              ],
              heatmapgl: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                  type: "heatmapgl",
                },
              ],
              heatmap: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                  type: "heatmap",
                },
              ],
              histogram2dcontour: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                  type: "histogram2dcontour",
                },
              ],
              histogram2d: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                  type: "histogram2d",
                },
              ],
              histogram: [
                {
                  marker: {
                    pattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                  },
                  type: "histogram",
                },
              ],
              mesh3d: [
                { colorbar: { outlinewidth: 0, ticks: "" }, type: "mesh3d" },
              ],
              parcoords: [
                {
                  line: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "parcoords",
                },
              ],
              pie: [{ automargin: true, type: "pie" }],
              scatter3d: [
                {
                  line: { colorbar: { outlinewidth: 0, ticks: "" } },
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scatter3d",
                },
              ],
              scattercarpet: [
                {
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scattercarpet",
                },
              ],
              scattergeo: [
                {
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scattergeo",
                },
              ],
              scattergl: [
                { marker: { line: { color: "#283442" } }, type: "scattergl" },
              ],
              scattermapbox: [
                {
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scattermapbox",
                },
              ],
              scatterpolargl: [
                {
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scatterpolargl",
                },
              ],
              scatterpolar: [
                {
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scatterpolar",
                },
              ],
              scatter: [
                { marker: { line: { color: "#283442" } }, type: "scatter" },
              ],
              scatterternary: [
                {
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scatterternary",
                },
              ],
              surface: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                  type: "surface",
                },
              ],
              table: [
                {
                  cells: {
                    fill: { color: "#506784" },
                    line: { color: "rgb(17,17,17)" },
                  },
                  header: {
                    fill: { color: "#2a3f5f" },
                    line: { color: "rgb(17,17,17)" },
                  },
                  type: "table",
                },
              ],
            },
            layout: {
              annotationdefaults: {
                arrowcolor: "#f2f5fa",
                arrowhead: 0,
                arrowwidth: 1,
              },
              autotypenumbers: "strict",
              coloraxis: { colorbar: { outlinewidth: 0, ticks: "" } },
              colorscale: {
                diverging: [
                  [0, "#8e0152"],
                  [0.1, "#c51b7d"],
                  [0.2, "#de77ae"],
                  [0.3, "#f1b6da"],
                  [0.4, "#fde0ef"],
                  [0.5, "#f7f7f7"],
                  [0.6, "#e6f5d0"],
                  [0.7, "#b8e186"],
                  [0.8, "#7fbc41"],
                  [0.9, "#4d9221"],
                  [1, "#276419"],
                ],
                sequential: [
                  [0.0, "#0d0887"],
                  [0.1111111111111111, "#46039f"],
                  [0.2222222222222222, "#7201a8"],
                  [0.3333333333333333, "#9c179e"],
                  [0.4444444444444444, "#bd3786"],
                  [0.5555555555555556, "#d8576b"],
                  [0.6666666666666666, "#ed7953"],
                  [0.7777777777777778, "#fb9f3a"],
                  [0.8888888888888888, "#fdca26"],
                  [1.0, "#f0f921"],
                ],
                sequentialminus: [
                  [0.0, "#0d0887"],
                  [0.1111111111111111, "#46039f"],
                  [0.2222222222222222, "#7201a8"],
                  [0.3333333333333333, "#9c179e"],
                  [0.4444444444444444, "#bd3786"],
                  [0.5555555555555556, "#d8576b"],
                  [0.6666666666666666, "#ed7953"],
                  [0.7777777777777778, "#fb9f3a"],
                  [0.8888888888888888, "#fdca26"],
                  [1.0, "#f0f921"],
                ],
              },
              colorway: [
                "#636efa",
                "#EF553B",
                "#00cc96",
                "#ab63fa",
                "#FFA15A",
                "#19d3f3",
                "#FF6692",
                "#B6E880",
                "#FF97FF",
                "#FECB52",
              ],
              font: { color: "#f2f5fa" },
              geo: {
                bgcolor: "rgb(17,17,17)",
                lakecolor: "rgb(17,17,17)",
                landcolor: "rgb(17,17,17)",
                showlakes: true,
                showland: true,
                subunitcolor: "#506784",
              },
              hoverlabel: { align: "left" },
              hovermode: "closest",
              mapbox: { style: "dark" },
              paper_bgcolor: "rgb(17,17,17)",
              plot_bgcolor: "rgb(17,17,17)",
              polar: {
                angularaxis: {
                  gridcolor: "#506784",
                  linecolor: "#506784",
                  ticks: "",
                },
                bgcolor: "rgb(17,17,17)",
                radialaxis: {
                  gridcolor: "#506784",
                  linecolor: "#506784",
                  ticks: "",
                },
              },
              scene: {
                xaxis: {
                  backgroundcolor: "rgb(17,17,17)",
                  gridcolor: "#506784",
                  gridwidth: 2,
                  linecolor: "#506784",
                  showbackground: true,
                  ticks: "",
                  zerolinecolor: "#C8D4E3",
                },
                yaxis: {
                  backgroundcolor: "rgb(17,17,17)",
                  gridcolor: "#506784",
                  gridwidth: 2,
                  linecolor: "#506784",
                  showbackground: true,
                  ticks: "",
                  zerolinecolor: "#C8D4E3",
                },
                zaxis: {
                  backgroundcolor: "rgb(17,17,17)",
                  gridcolor: "#506784",
                  gridwidth: 2,
                  linecolor: "#506784",
                  showbackground: true,
                  ticks: "",
                  zerolinecolor: "#C8D4E3",
                },
              },
              shapedefaults: { line: { color: "#f2f5fa" } },
              sliderdefaults: {
                bgcolor: "#C8D4E3",
                bordercolor: "rgb(17,17,17)",
                borderwidth: 1,
                tickwidth: 0,
              },
              ternary: {
                aaxis: {
                  gridcolor: "#506784",
                  linecolor: "#506784",
                  ticks: "",
                },
                baxis: {
                  gridcolor: "#506784",
                  linecolor: "#506784",
                  ticks: "",
                },
                bgcolor: "rgb(17,17,17)",
                caxis: {
                  gridcolor: "#506784",
                  linecolor: "#506784",
                  ticks: "",
                },
              },
              title: { x: 0.05 },
              updatemenudefaults: { bgcolor: "#506784", borderwidth: 0 },
              xaxis: {
                automargin: true,
                gridcolor: "#283442",
                linecolor: "#506784",
                ticks: "",
                title: { standoff: 15 },
                zerolinecolor: "#283442",
                zerolinewidth: 2,
              },
              yaxis: {
                automargin: true,
                gridcolor: "#283442",
                linecolor: "#506784",
                ticks: "",
                title: { standoff: 15 },
                zerolinecolor: "#283442",
                zerolinewidth: 2,
              },
            },
          },
          legend: { tracegroupgap: 0 },
          margin: { t: 0, l: 0, r: 0, b: 15 },
          height: 450,
          paper_bgcolor: "rgba(24, 24, 27, 1)",
        },
        { displayModeBar: false, responsive: true, showTips: false }
      );
    }
  </script>
</div>
