---
import "./_styles/main.css";
import Head from "./_components/Head.astro";
import Footer from "./_components/Footer.svelte";
import HamburgerMenu from "./_components/HamburgerMenu.svelte";
import Header from "./_components/Header.astro";

const { frontmatter } = Astro.props;
---

<html lang="en" class="bg-bg overflow-y-scroll">
  <Head {frontmatter} />
  <body class="p-4 sm:pl-8">
    <Header />
    <HamburgerMenu current_path={Astro.url.pathname} client:load />
    <div
      class="m-auto prose dark:prose-invert prose-a:text-accent prose-a:underline-offset-4 hover:prose-a:no-underline prose-headings:font-normal"
    >
      <main>
        <slot />
      </main>
      <Footer client:visible />
    </div>
  </body>
</html>
