---
import type { Frontmatter } from "@lib/types/frontmatter";

import "./_styles/main.css";
import Head from "./_components/Head.astro";
import Footer from "./_components/Footer.astro";
import HamburgerMenu from "./_components/HamburgerMenu.svelte";
import Header from "./_components/Header.astro";

export interface Props {
  frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props;
---

<html lang="en" class="bg-bg overflow-y-scroll p-4 sm:pl-8">
  <Head frontmatter={frontmatter} />
  <body>
    <Header />
    <HamburgerMenu current_path={Astro.url.pathname} client:load />
    <div
      class="max-w-[700px] m-auto prose dark:prose-invert prose-a:text-accent prose-a:underline-offset-4 hover:prose-a:no-underline prose-headings:font-normal"
    >
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
