---
import type { Frontmatter } from "@lib/types/frontmatter";

import "./_styles/main.css";
import ConnectivityStatus from "./_components/ConnectivityStatus.svelte";
import HamburgerMenu from "./_components/HamburgerMenu.svelte";
import Head from "./_components/Head.astro";
import Header from "./_components/Header.astro";
import Footer from "./_components/Footer.astro";

export interface Props {
  frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props;
---

<html lang="en" class="bg-bg overflow-y-scroll p-4 sm:pl-8">
  <Head frontmatter={frontmatter} />
  <body>
    <ConnectivityStatus client:load />
    <a
      class="focus:bg-surface text-heading sr-only focus:not-sr-only focus:absolute focus:z-50 focus:p-1"
      href="#main-content"
    >
      Skip to main content
    </a>
    <Header />
    <HamburgerMenu current_path={Astro.url.pathname} client:load />
    <div
      class="prose dark:prose-invert prose-a:text-accent prose-a:underline-offset-4 hover:prose-a:no-underline prose-headings:font-normal m-auto max-w-[700px]"
    >
      <main id="main-content">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
