<p>
  Want to be notified when I have blog updates or announcements? Sign up to my
  <a href="#subscription-form">mailing list</a> below!👇
</p>

<script>
  document
    .querySelector('a[href="#subscription-form"]')
    ?.addEventListener("click", (e: Event): void => {
      e.preventDefault();
      const form = document.querySelector("#subscription-form");
      document.documentElement.classList.add("scroll-smooth");
      form?.scrollIntoView();
      form?.classList.add("animate-shake");
      setTimeout((): void => {
        document.documentElement.classList.remove("scroll-smooth");
        form?.classList.remove("animate-shake");
      }, 800);
    });
</script>
