---
import type { CollectionEntry } from "astro:content";

import "./_styles/main.css";
import Head from "./_components/Head.astro";

export interface Props {
  entry:
    | CollectionEntry<"pages">
    | CollectionEntry<"posts">
    | CollectionEntry<"projects">;
  rm_classes?: boolean;
}

const { entry, rm_classes = false } = Astro.props;
---

<html
  id="root"
  lang="en"
  class:list={[
    "bg-bg",
    {
      "overflow-y-scroll scroll-smooth p-4 sm:pl-8 caret-accent": !rm_classes,
    },
  ]}
>
  <Head entry={entry} />
  <body>
    <slot />
  </body>
</html>
