---
import type { CollectionEntry } from "astro:content";

import "./_styles/main.css";
import Head from "./_components/Head.astro";

export interface Props {
  entry:
    | CollectionEntry<"pages">
    | CollectionEntry<"posts">
    | CollectionEntry<"projects">;
}

const { entry } = Astro.props;
---

<html
  id="root"
  lang="en"
  class="bg-bg overflow-y-scroll scroll-smooth p-4 sm:pl-8"
>
  <Head entry={entry} />
  <body>
    <slot />
  </body>
</html>
